/**
 *
 * Apply your Community custom CSS here
 *
*/

.mailbox-env .mail-single .mail-single-reply2 {
	/*border: 1px solid #e4e4e4;*/
	padding: 15px 20px;
	margin: 15px 20px;
	padding-right: 5px !important;
	min-height: 22px;
	color: #979898
}