/**
 * Apply your custom CSS here
*/

/**
 * 공통 custom
*/

/*** dataTable customized ***/
table.dataTable tbody tr.selected {
  background-color: #b0bed9;
	color: #fff;
	border-color: #63b026
}

table.dataTable th, table.dataTable td {
	min-width: 10px;
	max-width: 350px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

table-ellipsis th, .table-ellipsis td {
	min-width: 10px;
	max-width: 160px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.table.dataTable tbody tr td.user-cb {
	width: 1%
}

.table.dataTable tbody tr td.user-image {
	width: 1%
}

/*** page-title customized ***/
.page-container .main-content .page-title .title-env .title {
	font-size: 22px
}

.page-container .main-content .page-title {
	padding-bottom: 0;
}

/*** panel-flat-custom added ***/
.panel.panel-flat-custom {
	background: 0 0;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	margin: 0
}

.panel.panel-flat-custom .panel-heading {
	border-bottom-color: #ddd
}

.panel.panel-flat-custom .panel-disabled {
	background: rgba(238, 238, 238, .6)
}

/*** panel-flat customized ***/
.panel.panel-flat {
	margin: 0;
	padding: 0
}

/*** footer customized ***/
.footer-sticked-chat {
/* 		left: 0; */
	right: 30px;
	bottom: 0;
	z-index: 1000
}

.footer-sticked-chat .chat-conversations>li.open>a {
	width: 270px
}

.footer-sticked-chat .chat-conversations>li .chat-user {
	width: 200px
}

.footer-sticked-chat .chat-conversations>li .conversation-window .conversation-messages {
	max-height: 350px
}

.footer-sticked-chat .chat-conversations>li .custom-jstree {
	width: 200px
}

/**
 * End 공통 custom
*/


/**
 * Calendar custom
*/
.fc-sat {
	color: #1974db!important;
}

.fc-sun {
	color: #d42403!important;
}

.sidebar-menu .calendar-env {
	border-bottom: 1px solid #c0c0c0
}

.sidebar-menu .calendar-menu {
	padding-left: 20px;
	padding-right: 15px;
	margin-top: 1px;
	margin-bottom: 20px;
	list-style: none
}

.fc-today-button {
}

.text-align7 {
	padding-top:7px;
}
.align-center {
	text-align:center;
}

.sidebar-menu.collapsed .panel-body .form-group.logo-expanded {
	display: none
}

.sidebar-menu.collapsed .panel-body .form-group.logo-collapsed {
	display: block;
}

.calendarList {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
}

.cbr-replaced {
	margin-right: 4px;
}

label>span {
	position: relative;
/* 	display: inline-block; */
	color: #7d7f7f
}

/* todo-list */
li.done span>a:after {
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 9px;
	height: 1px;
	background: #8a8b8b;
	content: ''
}

.ellipsis {
	margin-bottom : 0px;
	min-width: 50px;
	max-width: 220px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

/**
 * End Calendar custom
*/

/**
 * Community custom
*/
.mailbox-env .mail-single .mail-single-reply2 {
	/*border: 1px solid #e4e4e4;*/
	padding: 15px 20px;
	margin: 15px 20px;
	padding-right: 5px !important;
	min-height: 22px;
	color: #979898
}
/**
 * End Community custom
*/