/**
 *
 * Apply your custom CSS here
 *
*/

body {	
}

a {
}


/**
 *
 * Calendar custom
 *
*/
.fc-sat {
	color: #1974db!important;
}

.fc-sun {
	color: #d42403!important;
}

.sidebar-menu .calendar-env {
	border-bottom: 1px solid #c0c0c0
}

.sidebar-menu .calendar-menu {
	padding-left: 20px;
	padding-right: 40px;
	margin-top: 1px;
	margin-bottom: 20px;
	list-style: none
}

.fc-today-button {
}